.link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  @include fluid(padding-top, 10px, 12px);
  @include fluid(padding-bottom, 10px, 12px);
  @include fluid(padding-left, 15px, 25px);
  @include fluid(padding-right, 15px, 25px);
  @include fluid(font-size, 16px, 24px);
  color: #fff;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background-color: #D1B4A3;
  border: 1px solid transparent;
  transition: color .23s ease-in-out,
    background-color .23s ease-in-out,
    border-color .23s ease-in-out;

  &--alt {
    border-radius: 0px 0px 8px 8px;
    background-color: rgba(167, 158, 151, 0.80);
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
  }

  &:hover {
    color: #fff;
    background-color: #D1B4A3;
    border-color: #D1B4A3;
  }
}