.logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #0D0D0D;
  font-family: 'Rhythm and Jazz Decor';
  font-size: 32px;
  @include fluid(font-size, 28px, 32px);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 3.2px;
}